body {
  font-size: 16px;
  color: black;
  background-color: #EBBB61;
  font-family: 'Nunito', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #AC4D0C;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Nunito', sans-serif;
  color: #003333;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  background-color: #F3EEE5;
  margin-bottom: 0px;
}
#nav-list a {
  color: #003333;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.3em;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #003333;
}
.navbar-header button.navbar-toggle {
  margin-top: 15px;
}
/* END HEADER */

/* HOME PAGE */

#title {
  color: #003333;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  padding-bottom: 5px;
  font-weight: 600;
}

#chicken-tile, #beef-tile, #sushi-tile {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  background-color: #F3EEE5;
  overflow: hidden;
  border-radius: 8px;
}

#home-tiles p.text {
  padding: 10px 20px;
}

#home-tiles p.sectiontitle {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}

/* END HOME PAGE */


/********** Medium devices only **********/
@media (min-width: 992px) {
  /* Header */
 
  /* End Header */

  /* Home Page */

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
 
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    
  }
  /* End Header */

  /* Home Page */

}

